@font-face {
    font-style: normal;
    font-weight: 100 900;
    src: url("/fonts/MapleMono.ttf") format("truetype");
    font-family: "Maple Mono";
    font-display: swap;
}

@font-face {
    font-style: italic;
    font-weight: 100 900;
    src: url("/fonts/MapleMono-Italic.ttf") format("truetype");
    font-family: "Maple Mono";
    font-display: swap;
}

body {
    font-family: "Maple Mono"
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    font-family: "Maple Mono"
}

h1 {
    font-weight: 900;
}

pre,
code,
kbd,
samp {
    font-family: "Maple Mono", var(--font-monospace-code);
}

.dropcap {
    font-family: "Maple Mono";
    font-size: 2.5rem;
    line-height: 0.85;
    margin-right: 0.05em;
    padding: 0;
    font-weight: 700;
    color: var(--accent-color);
}
