@font-face {
	font-style: normal;
	font-weight: 100 900;
	src: url("fonts/MapleMono-Regular") format("ttf");
	font-family: "Maple Mono";
	font-display: swap;
}

@font-face {
	font-style: italic;
	font-weight: 100 900;
	src: url("fonts/MapleMono-Italic") format("ttf");
	font-family: "Maple Mono";
	font-display: swap;
}

@font-face {
	font-style: normal;
	font-weight: 100 900;
	src: url("fonts/Queering.otf") format("otf");
	font-family: "Queering";
	font-display: swap;
}

@font-face {
	font-style: italic;
	font-weight: 100 900;
	src: url("fonts/Queering.otf") format("otf");
	font-family: "Queering";
	font-display: swap;
}

body {
	font-family: "Maple Mono", var(--font-system-ui), var(--font-emoji);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	font-family: "Queering", var(--font-system-ui), var(--font-emoji);
}

h1 {
	font-weight: 900;
}

pre,
code,
kbd,
samp {
	font-family: "Maple Mono", var(--font-monospace-code);
}
